body{
    background: #f7f7f7;
    font-family: 'Microsoft YaHei';
}

a{
    color: #009a61;
}

table{
    border-collapse: collapse;
    width: 100%;
}
thead{
    background-color: #eee;
}
th,td{
    padding: 8px 10px;
    border: 1px solid #ddd;
    text-align: left;
    font-weight: normal;
    font-size: 14px;
}
th{
    color: #999;
}

.page{
    margin: 0 auto;
    width: 1100px;
}


.panel{
    margin-top: 60px;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(100, 100, 100, .3);
}

.title{
    margin: 0;
    padding: 7px 20px;
    border-bottom: 1px dotted #ddd;
    color: #009a61;
    font-size: 26px;
}
.list{
    padding: 20px;
    list-style: none;
    margin: 0;
    font-size: 0;
}
.list li{
    padding: 10px 0;
    display: inline-block;
    width: 33%;
    font-size: 15px;
}
.panel a{
    display: inline-block;
    padding: 3px 4px;
    text-decoration: none;
}
.panel a:link{
    color: #000;
}
.panel a:hover{
    text-decoration: underline;
}
.panel a:focus{
    color: #f00;
}
.panel a:visited{
    color: #000;
}